<!doctype html>
<html>
<!--
  Dashboard
  Created: 11/26/2020 Thanksgiving
  Updated: 11/29/2022
-->
{% extends "dashboard/main.html" %}
{% block dashboard_body %}
{% load icon static %}
  <main
    class="col-md-9 ml-sm-auto col-lg-10 px-0 mx-auto"
    style="min-height: calc(100vh - 55px - 32px);"
  >
      <!-- Cannabis Licenses Map
      Source: Cannlytics <https://huggingface.co/datasets/cannlytics/cannabis_licenses>
      License: CC BY 4.0 <https://huggingface.co/datasets/cannlytics/cannabis_licenses/blob/main/LICENSE>
      -->
      {% comment %} {% include "./cannabis-licenses-map.html" %} {% endcomment %}
      

  </main>
  
{% endblock %}
</html>
