<!doctype html>
<html>
<!--
  Account Management Page
  Created: 12/9/2020
  Updated: 11/29/2022
-->
{% extends "dashboard/main.html" %}
{% load static icon dict_key %}
{% block dashboard_body %}
  <main role="main" class="col-md-9 ml-sm-auto col-lg-10 px-md-4 pb-5 mx-auto">
  
    <!-- Header -->
    {% include "dashboard/components/links/breadcrumbs_dynamic.html" with
      breadcrumbs=settings.user_breadcrumbs
    %}

    <!-- Profile picture -->
    <div class="row mb-3">

      <!-- User image -->
      <div class="col col-md-5 mx-3 mb-3">
        <div class="row mb-2">
          <label
            for="userPhotoUrl"
            class="col col-form-label col-form-label-sm"
          >
            Profile picture
          </label>
          <div class="col d-flex justify-content-end">
            <button
              class="btn btn-sm btn-sm-light"
              onclick="cannabisdata.settings.chooseUserPhoto()"
            >
              Upload Photo
            </button>
          </div>
        </div>
        <div class="text-center order-md-2 border border-secondary rounded">
          <img
            src="{% if user.photo_url %}{{ user.photo_url }}{% else %}{% static "dashboard/images/account/default-dark.png" %}{% endif %}"
            style="height:200px;"
            class="user-photo-url pe-1"
            id="user-photo-url"
          >
          <input type="file" id="userPhotoUrl" multiple accept="image/*" class="visually-hidden">
        </div>
      </div>

      <!-- Dynamic account fields defined in state.py -->
      <div class="col-md-6 px-4">
        <form id="user-form">
          {% for item in settings.user_fields %}        
            <div class="row mb-3">

              <!-- Field label -->
              <label
                for="input-{{ item.key }}"
                class="col-md-4 col-sm-2 col-lg-2 col-form-label col-form-label-sm"
              >
                {{ item.label }}
              </label>

              <!-- Field input -->
              <div class="col-sm-10">
                <input
                  type="{{ item.type }}"
                  class="form-control form-control-sm"
                  id="input-{{ item.key }}"
                  spellcheck="false"
                  name="{{ item.key }}"
                  value="{{ user|dict_key:item.key }}"
                >
              </div>

            </div>
          {% endfor %}
        </form>

        <!-- Options -->
        <div class="d-flex justify-content-end">
          <button
            type="button"
            class="btn btn-sm btn-sm-light me-2"
            onclick="cannabisdata.settings.resetAccountForm()"
          >
            Reset
          </button>
          <button
            type="button"
            class="btn btn-sm bg-gradient-green text-white"
            onclick="cannabisdata.settings.saveAccount()"
          >
            Save
          </button>
        </div>
        
      </div><!-- End of account fields -->

    </div>

    <!-- Other Account options -->
    <div class="col-md-6 px-3">
      <h1 class="fs-5 lh-base text-dark mb-0 mt-5">Other account options</h1>
      <div class="list-group py-3">

        <!-- Dynamic account options defined in state.py -->
        {% for item in settings.user_options %}   
          <a
            href="{{ item.url }}"
            class="list-group-item list-group-item-action d-flex justify-content-between align-items-center text-dark border-secondary"
            aria-current="true"
          >
            {{ item.title }}
            {% icon "chevron-right" height="18px" width="18px" %}
          </a>
        {% endfor %}

        <!-- Sign out button -->
        <a
          type="button"
          class="list-group-item list-group-item-action d-flex justify-content-between align-items-center text-dark border-secondary"
          onClick="cannabisdata.auth.signOut();"
        >
          Sign Out
          {% icon "chevron-right" height="18px" width="18px" %}
        </a>
  
      </div>
    </div>

  </main>
{% endblock dashboard_body %}

<!-- JavaScript -->
{% block dashboard_js %}
  <script>
    cannabisdata.settings.initializeAccountForm();
  </script>
{% endblock dashboard_js %}

</html>
