<!doctype html>
<html>
<!--
  Help Menu Drop Up
  Authors: Keegan Skeate <https://github.com/keeganskeate
  Created: 5/4/2021
  Updated: 11/23/2022
-->
{% load icon %}
<div class="btn-group dropup">
  <button
    type="button"
    class="btn btn-sm dropdown-toggle simple-dropdown"
    data-bs-toggle="dropdown"
    aria-expanded="false"
  >
    {% icon 'help-circle' width="18px" height="18px" class="text-secondary" %}
  </button>
  <ul class="dropdown-menu shadow">
    <li>
      <a class="dropdown-item text-dark" href="https://cannabisdata.com" target="_blank">
        Get support
      </a>
    </li>
    <li>
      <a class="dropdown-item text-dark" href="https://github.com/cannabisdata/cannabisdata/blob/main/LICENSE" target="_blank">
        License
      </a>
    </li>
    <li>
      <a class="dropdown-item text-dark" href="https://github.com/cannabisdata/cannabisdata" target="_blank">
        Source Code
      </a>
    </li>
    <li><hr class="dropdown-divider"></li>
    <li class="px-3"><small>Version {{ version }}</small></li>
  </ul>
</div>
</html>
