<!doctype html>
<html>
<!--
  User Menu with Profile Image
  Created: 2/20/2021
  Updated: 11/29/2022
-->
{% load static %}
<li class="nav-item dropdown d-flex align-items-center">

  <!-- Profile image -->
  <a
    class="nav-link dropdown-toggle d-flex py-0"
    href="{% url 'section' screen='settings' section='user' %}"
    id="navbarUserMenu"
  >
    <img
      id="userPhotoNav"
      src="{% if user.photo_url %}{{ user.photo_url }}{% else %}{% static "dashboard/images/account/user.svg" %}{% endif %}"
      alt="Settings"
      title="Settings"
      width="30"
      height="30"
      class="user-photo-url rounded-circle"
      style="vertical-align:unset;{% if not user.photo_url %}background:linear-gradient(to bottom right, #ffc371, #ff5f6d);{% endif %}"
      data-bs-html="true"
      data-bs-toggle="tooltip"
      data-bs-placement="bottom"
      title="{% if user.display_name %}{{ user.display_name }}{% else %}Personalize your account{% endif %}<br>{{ user.email }}"
    >
  </a>

</li>
</html>
