<!doctype html>
<html>
<!--
  Table JavaScript and StyleSheets
  Authors: Keegan Skeate <https://github.com/keeganskeate>
  Created: 12/12/2021
  Updated: 11/22/2022
-->
{% load static %}
<script src="{% static 'dashboard/plugins/ag-grid/ag-grid-community.min.noStyle.js' %}"></script>
<link href="{% static 'dashboard/plugins/ag-grid/ag-grid.min.css' %}" rel="stylesheet" type="text/css"/>
<link href="{% static 'dashboard/plugins/ag-grid/ag-theme-alpine.min.css' %}" rel="stylesheet" type="text/css"/>
<link href="{% static 'dashboard/plugins/ag-grid/ag-theme-alpine-dark.min.css' %}" rel="stylesheet" type="text/css"/>
</html>
